# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/
*.env

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.iml

# Jupyter Notebook files
.ipynb_checkpoints/

# Logs
*.log

# Environment variable files
.env
